{{#if loading}}
  {{#ember-wormhole to='loading'}}
    <div class="loader"></div>
  {{/ember-wormhole}}
{{/if}}

<main class="main-content">
  {{liquid-outlet}}
</main>

{{#sx-navigation}}
  {{sx-navigation-item link='trends' icon=''}}
  {{sx-navigation-item link='timetable' icon=''}}
  {{sx-navigation-item link='performance' icon=''}}
  {{sx-navigation-item link='settings' icon=''}}
{{/sx-navigation}}
