{{#burger-menu animation='reveal' itemAnimation='stack' as |burger|}}
  {{#burger.menu itemTagName='li' as |menu|}}
    <div class="bm-menu-header">
      <img src="assets/logo-white.svg">
      <span>sächsi</span>
    </div>
    <ul>
      {{#menu.item}}
        {{#link-to 'index'}}{{fa-icon 'dashboard' fixedWidth=true}} {{t 'dashboard.title'}}{{/link-to}}
      {{/menu.item}}

      {{#menu.item}}
        {{#link-to 'schools.index'}}{{fa-icon 'home' fixedWidth=true}} {{t 'schools.title'}}{{/link-to}}
      {{/menu.item}}

      {{#menu.item}}
        {{#link-to 'semesters.index'}}{{fa-icon 'graduation-cap' fixedWidth=true}} {{t 'semesters.title'}}{{/link-to}}
      {{/menu.item}}

      {{#menu.item}}
        {{#link-to 'lectures.index'}}{{fa-icon 'table' fixedWidth=true}} {{t 'lectures.title'}}{{/link-to}}
      {{/menu.item}}

      {{#menu.item}}
        {{#link-to 'grades.index'}}{{fa-icon 'check' fixedWidth=true}} {{t 'grades.title'}}{{/link-to}}
      {{/menu.item}}

      {{#menu.item}}
        {{#link-to 'logout'}}{{fa-icon 'power-off' fixedWidth=true}} {{t 'logout'}}{{/link-to}}
      {{/menu.item}}
    </ul>
  {{/burger.menu}}

  {{#burger.outlet}}
    <header class="bm-header">
      <button class="bm-header-toggle" {{action burger.state.actions.toggle}}>
        {{fa-icon 'bars'}}
      </button>
    </header>
    <section class="container main">
      {{liquid-outlet}}
    </section>
  {{/burger.outlet}}
{{/burger-menu}}
