{{#if showDeleteDialog}}
  {{#paper-dialog class='flex-50' onClose=(action (mut showDeleteDialog) false) clickOutsideToClose=true}}
    <form>
      {{#paper-toolbar accent=true}}
        {{#paper-toolbar-tools}}
          <h2>{{t 'schools.delete'}}</h2>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}

      {{#paper-dialog-content}}
          {{t 'schools.deleteText' name=model.name}}
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class='layout-row'}}
        <span class="flex"></span>
        {{#paper-button onClick=(action (mut showDeleteDialog) false)}}{{t 'no'}}{{/paper-button}}
        {{#paper-button accent=true onClick=(route-action 'delete')}}{{t 'yes'}}{{/paper-button}}
      {{/paper-dialog-actions}}
    </form>
  {{/paper-dialog}}
{{/if}}

{{#unless model.isNew}}
  {{#paper-button iconButton=true onClick=(action (mut showDeleteDialog) true)}}{{paper-icon 'delete'}}{{/paper-button}}
{{/unless}}
{{#paper-button iconButton=true onClick=(route-action 'save')}}{{paper-icon 'check'}}{{/paper-button}}
