<table>
  <thead>
    <th>{{t 'subjects.semester'}}</th>
    <th>{{t 'subjects.name'}}</th>
  </thead>
  <tbody>
    {{#each model as |subject|}}
      {{#unless subject.isDeleted}}
        {{#link-to 'subjects.edit' subject.id tagName='tr' class='pointer'}}
          <td>{{subject.semester.name}}</td>
          <td>{{subject.name}}</td>
        {{/link-to}}
      {{/unless}}
    {{^}}
      <tr>
        <td class="text-center" colspan="2">{{t 'subjects.empty'}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{add-button onClick=(transition-to 'subjects.new')}}
