<div class="box-list">
  <div class="box-list-item clickable" {{action (transition-to 'timetable.semesters.index')}}>
    <div class="box-list-item-title">
      {{t 'timetable.semesters.title'}}
    </div>
    <div class="box-list-item-body box-list-item-body--icon">
      {{sx-icon 'ios-timer-outline'}}
    </div>
  </div>
  <div class="box-list-item clickable" {{action (transition-to 'timetable.subjects.index')}}>
    <div class="box-list-item-title">
      {{t 'timetable.subjects.title'}}
    </div>
    <div class="box-list-item-body box-list-item-body--icon">
      {{sx-icon 'ios-book-outline'}}
    </div>
  </div>
  <div class="box-list-item clickable" {{action (transition-to 'performance.grades.index')}}>
    <div class="box-list-item-title">
      {{t 'performance.grades.title'}}
    </div>
    <div class="box-list-item-body box-list-item-body--icon">
      {{sx-icon 'ios-paper-outline'}}
    </div>
  </div>
  <div class="box-list-item clickable" {{action (transition-to 'performance.goals.index')}}>
    <div class="box-list-item-title">
      {{t 'performance.goals.title'}}
    </div>
    <div class="box-list-item-body box-list-item-body--icon">
      {{sx-icon 'ios-flag-outline'}}
    </div>
  </div>
</div>
