<table>
  <thead>
    <th>{{t 'lectures.name'}}</th>
    <th>{{t 'lectures.color'}}</th>
  </thead>
  <tbody>
    {{#each model as |lecture|}}
      {{#unless lecture.isDeleted}}
        {{#link-to 'lectures.edit' lecture.id tagName='tr' class='pointer'}}
          <td>{{lecture.name}}</td>
          <td>{{lecture.color}}</td>
        {{/link-to}}
      {{/unless}}
    {{^}}
      <tr>
        <td class="text-center" colspan="2">{{t 'lectures.empty'}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{add-button onClick=(transition-to 'lectures.new')}}
