<div class="sx-grade-input-minus clickable" {{action 'minus'}}>
  {{sx-icon 'ios-minus-empty'}}
</div>
<div class="sx-grade-input-score">
  {{input type='text' value=parsed readonly=true}}
</div>
<div class="sx-grade-input-plus clickable" {{action 'plus'}}>
  {{sx-icon 'ios-plus-empty'}}
</div>
