{{sx-select
  data        = semesters
  value       = semester
  placeholder = (t 'timetable.subjects.selectSemester')
  labelKey    = 'name'
  valueKey    = 'id'
  onSelect    = (action (mut semester))
}}

<div class="box-list">
  {{#each model as |subject|}}
    {{#unless subject.isDeleted}}
      <div class="box-list-item clickable" {{action (transition-to 'timetable.subjects.edit' subject.id)}}>
        <div class="box-list-item-title">{{subject.name}}</div>
        <div class="box-list-item-body">
          {{sx-grade (await subject.average)}}
          <em>{{await subject.semester.name}}</em>
        </div>
      </div>
    {{/unless}}
  {{/each}}
  <div class="box-list-item box-list-item--new clickable" {{action (transition-to 'timetable.subjects.new')}}>
    {{sx-icon 'ios-plus-empty'}}
  </div>
</div>
