<main class="main">
  {{#paper-form onSubmit=(route-action 'register') as |form|}}
    {{#paper-card as |card|}}
      {{#card.content}}
        <div class="logo">
          <img src="assets/logo.svg">
          sächsi
        </div>
        <div class="layout layout-column">
          {{form.input icon='person' label=(t 'register.email') value=email onChange=(action (mut email))}}
          {{form.input icon='lock' type='password' label=(t 'register.password') value=password onChange=(action (mut password))}}
          {{form.input icon='refresh' type='password' label=(t 'register.passwordRepeat') value=password2 onChange=(action (mut password2))}}
        </div>
      {{/card.content}}
      {{#card.actions}}
        {{#paper-button onClick=(transition-to 'login')}}{{t 'register.login'}}{{/paper-button}}
        {{#form.submit-button accent=true}}{{t 'register.register'}}{{/form.submit-button}}
      {{/card.actions}}
    {{/paper-card}}
  {{/paper-form}}
</main>
