<h3>{{t 'lectures.delete' name=model.name}}</h3>

<p>{{t 'lectures.deleteDialog' name=model.name}}</p>

<button class="btn btn-danger" {{action 'delete'}}>{{t 'yes'}}</button>
{{#link-to 'lectures.index' tagName='button' class='btn btn-default'}}{{t 'no'}}{{/link-to}}
