<form class="login-form" {{action 'signIn' on='submit'}}>
  <h3 class="login-form-heading">
    <img src="assets/logo.svg">
    sächsi
  </h3>

  {{input class='form-control' type='email' value=email placeholder=(t 'login.email') autofocus=true}}
  {{input class='form-control' type='password' value=password placeholder=(t 'login.password')}}

  <button type="submit" class="btn btn-lg btn-block btn-primary">{{t 'login.login'}}</button>

  {{#if error}}
    <div class="alert alert-danger">
      <strong>{{fa-icon 'exclamation-triangle'}}</strong> {{t (concat 'login.errors.' error)}}
    </div>
  {{/if}}
</form>
