<form {{action 'signIn' on='submit'}} autocomplete="off">
  <div class="sign-input">
    {{sx-icon 'email'}}
    {{input autocomplete='off' type='email' value=email}}
  </div>
  <div class="sign-input">
    {{sx-icon 'locked'}}
    {{input autocomplete='off' type='password' value=password}}
  </div>

  <button type="submit" class="sign-button {{unless (v-get this 'isValid') 'disabled'}}">{{t 'sign.in'}}</button>
</form>

{{#if error}}
  <div class="error">
    {{t (concat 'error.' error.code)}}
  </div>
{{/if}}
